<?php

return [
    'base_url'   => 'https://your-server.example',
    'project_id' => 'your-project-uuid-here',
    'token'      => 'your-api-token-here',

    'transmit_composer_files' => 'true',      // true | false | on-demand
    'transmit_npm_files'      => 'true',      // true | false | on-demand
];
